.input_box {
	padding-left: 10px;
	@media (min-width: 480px) and (max-width: 767px) {
	}
	@media (min-width: 768px) {
		padding-left: 20px;
	}
}

form {
	width: 100%;
	@media (min-width: 480px) and (max-width: 767px) {
	}
	@media (min-width: 768px) {
	}
}

label {
	font-size: 16px;
	margin-top: 20px;
	width: 195px;
	display: inline-block;
}

input {
	border: 0px;
	outline: 0;
	padding: 15px 0px;
	border-bottom: 1px solid $grey_input;
	width: 100%;
	font-size: 16px;
	font-weight: 100;

	@media (min-width: 480px) {
		max-width: 260px;
	}
}

.recipe_ingredient_box {
	display: grid;
	grid-template-rows: repeat(6, auto);
	grid-template-columns: auto;
	grid-template-areas: 'l1' 'i1' 'l2' 'i2' 'l3' 'i3';

	@media (min-width: 768px) {
		grid-template-rows: auto auto;
		grid-template-columns: auto auto auto;
		grid-template-areas: 'l1 l2 l3' 'i1 i2 i3';
	}
}

.label_1 {
	grid-area: 'l1';
}

.label_2 {
	grid-area: 'l2';
}

.label_3 {
	grid-area: 'l3';
}

.input_1 {
	grid-area: 'i1';
}

.input_2 {
	grid-area: 'i2';
}

.input_3 {
	grid-area: 'i3';
}
