@import "_variables.scss";

.text_box label {
	grid-area: la;
}

.text_box input {
	grid-area: in;
}

.text_box {
	display: grid;
	grid-template-rows: repeat(2, auto);
	grid-template-columns: 315px;
	grid-template-areas: 'la' 'in';
	padding-left: 10px;

	@media (min-width: 480px) {
		grid-template-columns: 210px 215px;
		grid-template-areas: 'la in';
	}
	@media (min-width: 905px) {
		padding-left: 20px;
	}
}

form {
	width: 100%;
	@media (min-width: 480px) and (max-width: 767px) {
	}
	@media (min-width: 768px) {
	}
}

label {
	font-size: 16px;
	margin-top: 20px;
}

input {
	border: 0px;
	outline: 0;
	padding: 15px 0px;
	border-bottom: 1px solid $grey_input;
	width: 100%;
	font-size: 16px;
	font-weight: 100;

	@media (min-width: 480px) {
		width: 95%;
	}
}

button.del_square {
	background-color: $grey_highlight;
	height: 30px;
	width: 30px;
	border: 1px solid $grey_border;
	border-radius: 5px;
	font-weight: 100;
	cursor: pointer;
	outline: 0;
	&:hover {
		background-color: $primary_dark;
		border: 1px solid $contrast_red;
		color: #fff;
	}
}

// Recipe Ingredients Styling

.recipe_ingredient_box {
	display: grid;
	grid-template-rows: repeat(6, auto);
	grid-template-columns: auto 60px;
	grid-template-areas: 'l1 del' 'i1 del' 'l2 del' 'i2 del' 'l3 del'
		'i3 del';
	max-width: 750px;
	border-bottom: 1px solid $grey_highlight;
	padding: 10px 0px 20px 10px;

	@media (min-width: 480px) and (max-width: 904px) {
		max-width: 410px;
		grid-template-rows: repeat(4, auto);
		grid-template-columns: 230px 180px;
		grid-template-areas: 'l1 l2' 'i1 i2' 'l3 del' 'i3 del';
	}
	@media (min-width: 905px) {
		padding: 10px 0px 20px 20px;
		max-width: 690px;
		grid-template-rows: auto auto;
		grid-template-columns: 230px 180px 180px 100px;
		grid-template-areas: 'l1 l2 l3 del' 'i1 i2 i3 del';
	}
}

.label_1 {
	grid-area: l1;
}

.label_2 {
	grid-area: l2;
}

.label_3 {
	grid-area: l3;
}

.input_1 {
	grid-area: i1;
}

.input_2 {
	grid-area: i2;
}

.input_3 {
	grid-area: i3;
}

.del_4 {
	grid-area: del;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	border-right: 2px solid #fff;
	&:hover {
		border-right: 2px solid $primary_dark;
	}
}

.del_4:hover ~ .label_2 {
	@media (min-width: 630px) and (max-width: 904px) {
		border-right: 2px solid $primary_dark;
	}
}

.del_4:hover ~ .input_2 {
	@media (min-width: 630px) and (max-width: 904px) {
		border-right: 2px solid $primary_dark;
	}
}

// Results Styling
.results_overview {
	padding: 15px 0px 10px 10px;
	overflow-x: scroll;
	@media (min-width: 905px) {
		padding: 15px 0px 0px 20px;
	}
	ul {
		display: inline-flex;
		li:first-child {
			width: 170px;
		}
		.result_list {
			width: 110px;
			h3 {
				line-height: 20px;
			}
		}
		.result_list:last-child {
			width: 180px;
		}
	}
}

.results_overview::-webkit-scrollbar {
	height: 4px;
	width: 4px;
	// background: $grey_border;
	border-radius: 10px;
}
.results_overview::-webkit-scrollbar-thumb:horizontal {
	background: $primary_light;
	border-radius: 10px;
}

.results_overview_names {
	h3 {
		font-size: 16px;
		line-height: 40px;
		color: $grey_text;
	}
	h3.recipe_name {
		line-height: 20px;
	}
}

.compare_results {
	display: inline-flex;
	// overflow-x: scroll;
	h3 {
		font-size: 16px;
		line-height: 40px;
		font-weight: 400;
	}
	p {
		font-size: 13px;
		line-height: 40px;
		font-weight: 400;
		padding-left: 20px;
	}
	div.result_list {
		padding-right: 10px;
		margin-right: 20px;
		border-right: 1px solid $grey_border;
	}
	@media (max-width: 550px) {
		div.result_list:last-child {
			border-right: 0;
		}
	}
}

.compare_results::-webkit-scrollbar {
	height: 4px;
	width: 4px;
	// background: $grey_border;
	border-radius: 10px;
}
.compare_results::-webkit-scrollbar-thumb:horizontal {
	background: $primary_light;
	border-radius: 10px;
}

.compare_add {
	margin: auto;
	text-align: center;
	h3 {
		font-size: 16px;
		line-height: 40px;
		font-weight: 400;
	}
	button {
		width: 100px;
		padding: 8px 0px;
		outline: 0;
		border: 0;
		background: $primary_dark;
		border-radius: 5px;
		border: 1px solid $contrast_red;
		color: #fff;
		font-size: 16px;
		font-weight: 300;
		font-family: "Montserrat";
		margin: 40px 0px 30px;
	}
	p {
		font-size: 16px;
		width: 130px;
		margin: auto;
		line-height: 20px;
	}
	@media (min-width: 550px) {
		display: none;
	}
}

div.result_list.compare_add {
	display: none;
	@media (min-width: 550px) {
		display: block;
		margin: 0px;
		&:last-child {
			border-right: 0;
		}
	}
}

.result-price {
	padding-top: 20px;
}

.result-price {
	h3 {
		display: inline;
		padding: 0px 30px 0px 10px;
		@media (min-width: 905px) {
			padding: 0px 30px 0px 20px;
		}
	}
	span {
		font-weight: 400;
	}
	div.text_box {
		@media (min-width: 480px) {
			grid-template-columns: 240px 215px;
		}
	}
	h3.base_results {
		line-height: 25px;
		display: block;
		text-align: center;
		padding: 15px 0px;
	}
}

.result-calc {
	display: grid;
	grid-template-rows: repeat(3, auto);
	grid-template-columns: 100%;
	grid-template-areas: 'profit' 'cost' 'pro';
	padding: 10px 0px 20px 10px;

	@media (min-width: 480px) and (max-width: 904px) {
		grid-template-rows: auto;
		grid-template-columns: repeat(3, auto);
		grid-template-areas: 'profit cost pro';
		padding: 10px 0px 20px 20px;
	}
	@media (min-width: 905px) {
		grid-template-rows: auto;
		grid-template-columns: repeat(3, auto);
		grid-template-areas: 'profit cost pro';
		padding: 10px 0px 20px 20px;
	}

	div.border_break {
		margin: 12px 10px;
	}
}

.calc-profit {
	grid-area: profit;
}
.calc-cost {
	grid-area: cost;
}
.calc-pro {
	grid-area: pro;
}

.calc-data {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto 50px;
	grid-template-areas: 'p s';
	max-width: 240px;
	margin: auto;
	padding: 12px 0px;

	p {
		grid-area: p;
		display: inline;
		padding-right: 10px;
	}

	span {
		grid-area: s;
		font-weight: 400;
	}
}
