.input_box {
	margin: 0px 10px;
	@media (min-width: 480px) and (max-width: 767px) {
	}
	@media (min-width: 768px) {
		margin: 0px 20px;
	}
}

form {
	width: 100%;
	@media (min-width: 480px) and (max-width: 767px) {
	}
	@media (min-width: 768px) {
	}
}

label {
	font-size: 16px;
	margin-top: 20px;
	width: 195px;
	display: inline-block;
}

input {
	border: 0px;
	outline: 0;
	padding: 15px 0px;
	border-bottom: 1px solid $grey_input;
	width: 100%;
	font-size: 16px;
	font-weight: 100;

	@media (min-width: 480px) {
		max-width: 260px;
	}
}
