// From Main.scss
@import "_variables.scss";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	color: $text_colour;
	font-family: "Montserrat";
	font-weight: 100;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.icon-1 {
	fill: red;
}

.userapp {
	display: grid;
	grid-template-rows: 50px minmax(100vh, auto);
	grid-template-columns: 0px 100%;
	grid-template-areas: 'topbar topbar' 'leftbar screens';
}

.userapp.menu {
	div.leftbar {
		display: block;
		background-color: $grey_highlight;
		width: 180px;
	}

	@media (max-width: 709px) {
		div.leftbar {
			z-index: 1;
			// position: absolute;
			// top: 50px;
		}
	}

	@media (min-width: 710px) {
		grid-template-columns: 180px auto;
		grid-template-areas: 'topbar topbar' 'leftbar screens';
		.results_overview1 {
			width: 425px;
		}
	}
}

.topbar {
	grid-area: topbar;
}

.leftbar {
	grid-area: leftbar;
	display: none;
}

.screens {
	grid-area: screens;
}

.border_break {
	border-bottom: 1px solid $grey_border;
	margin: 0px 10px;
	@media (min-width: 905px) {
		margin: 0px 20px;
	}
}

.border_break.margin {
	margin-top: 20px;
}

.list {
	ul {
		display: inline-flex;
		flex-wrap: wrap;

		padding-left: 10px;
		@media (min-width: 905px) {
			padding-left: 20px;
		}

		li:nth-child(2),
		li:nth-child(3),
		li:nth-child(4) {
			display: none;

			p {
				padding-left: 10px;
			}
		}

		li:last-child {
			grid-area: del;
			display: flex;
			align-items: center;
			justify-content: center;
			border-right: 2px solid #fff;
			width: 80px;

			@media (min-width: 905px) {
				width: 150px;
			}

			button {
				background-color: $grey_highlight;
				height: 30px;
				width: 45px;
				border: 1px solid $grey_border;
				border-radius: 5px;
				font-weight: 100;
				cursor: pointer;
				outline: 0;
				font-size: 14px;
			}

			button:hover {
				background-color: $secondary_light;
				color: #fff;
				border: 1px solid $secondary_dark;
			}
		}

		@media (min-width: 480px) and (max-width: 699px) {
			li:nth-child(2) {
				display: inline-flex;
			}
		}
		@media (min-width: 700px) and (max-width: 767px) {
			li:nth-child(2),
			li:nth-child(3) {
				display: inline-flex;
			}
		}
		@media (min-width: 768px) {
			li:nth-child(2),
			li:nth-child(3),
			li:nth-child(4) {
				display: inline-flex;
			}
		}
	}

	ul:nth-child(even) {
		background-color: #f9f9f9;
	}
	ul:first-child {
		padding: 25px 0px 10px 10px;
		@media (min-width: 905px) {
			padding: 25px 0px 20px 20px;
		}
		h3 {
			font-weight: 400;
		}
		li {
			padding-left: 0px;
		}
	}
	li {
		width: 150px;
		line-height: 50px;
		height: 50px;
		overflow-x: hidden;
		&:first-child {
			min-width: 200px;
		}
	}
	section.list-content {
	}
}
