@import "_variables.scss";
$numericValue: 1;

.menu-toggle {
	grid-area: "toggle";
}

.brand {
	grid-area: "brand";
}

.avatar {
	grid-area: "avatar";
}

.topbar {
	background-color: #525252;

	ul {
		display: grid;
		grid-row: auto;
		grid-template-columns: $numericValue * 100px auto
			$numericValue * 100px;
		grid-template-areas: "toggle brand avatar";
		margin: 0px;

		.menu-toggle {
			height: 45px;
			width: 45px;
			background: $primary_dark;
			border-radius: 50%;
			margin-top: 2px;
			line-height: 45px;
			text-align: center;
			margin-left: 10px;
		}

		.brand {
			text-align: center;
			width: 200px;
			height: 50px;
			margin: auto;
			background-color: $primary_light;
			line-height: 50px;
		}

		.avatar {
			height: 30px;
			width: 30px;
			background: $primary_dark;
			border-radius: 50%;
			margin-top: 10px;
			line-height: 30px;
			text-align: center;
			margin-left: 10px;
			position: absolute;
			right: 10px;
		}
	}

	li {
		margin: 0px;
		padding: 0px;
		font-family: "Montserrat";
		outline: 0;
		text-decoration: none;
		border: 0;
		list-style-type: none;
	}
}

.leftbar {
	background-color: $grey_highlight;
	height: 100%;
}

.menutab {
	min-height: 50px;

	section {
		width: 160px;
		min-height: 50px;
		border-bottom: solid 1px $grey_border;
		margin: auto;
	}

	h4 {
		font-weight: 400;
		margin-left: 10px;
		line-height: 50px;
		font-size: 18px;
	}
}

.tabitem {
	ul {
		margin: -10px 0px 10px;
	}

	li {
		font-weight: 100;
		padding-left: 20px;
		line-height: 30px;
		font-size: 15px;
	}
}
