@import "_variables.scss";

.edit-recipe {
}

.screen_title {
	height: 40px;
	padding-left: 10px;
	h1 {
		font-size: 20px;
		padding-top: 15px;
	}
	@media (min-width: 905px) {
		padding-left: 20px;
	}
}

.details_input {
}

.details_packaging {
	margin: 40px 0px;
}
