html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  color: #343434;
  font-family: "Montserrat";
  font-weight: 100;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.icon-1 {
  fill: red;
}

.userapp {
  display: grid;
  grid-template-rows: 50px minmax(100vh, auto);
  grid-template-columns: 0px 100%;
  grid-template-areas: "topbar topbar" "leftbar screens";
}

.userapp.menu div.leftbar {
  display: block;
  background-color: #f1f1f1;
  width: 180px;
}
@media (max-width: 629px) {
  .userapp.menu div.leftbar {
    z-index: 1;
    position: absolute;
    top: 50px;
  }
}
@media (min-width: 630px) {
  .userapp.menu {
    grid-template-columns: 180px auto;
    grid-template-areas: "topbar topbar" "leftbar screens";
  }
  .userapp.menu .results_overview1 {
    width: 425px;
  }
}

.topbar {
  grid-area: topbar;
}

.leftbar {
  grid-area: leftbar;
  display: none;
}

.screens {
  grid-area: screens;
}

.border_break {
  border-bottom: 1px solid #e5e5e5;
  margin: 0px 10px;
}
@media (min-width: 905px) {
  .border_break {
    margin: 0px 20px;
  }
}

.border_break.margin {
  margin-top: 20px;
}

#Capa_1 path {
  color: #fff;
}

.menu-toggle {
  grid-area: "toggle";
}

.brand {
  grid-area: "brand";
}

.avatar {
  grid-area: "avatar";
}

.topbar {
  background-color: #525252;
}
.topbar ul {
  display: grid;
  grid-row: auto;
  grid-template-columns: 60px auto 60px;
  grid-template-areas: "toggle brand avatar";
  margin: 0px;
}
.topbar ul .menu-toggle {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-top: 2px;
  line-height: 45px;
  text-align: center;
  margin-left: 10px;
  cursor: pointer;
}
.topbar ul .brand {
  text-align: center;
  width: 150px;
  height: 50px;
  margin: auto;
  background-color: orange;
  line-height: 50px;
}
.topbar ul .avatar {
  height: 30px;
  width: 30px;
  background: orangered;
  border-radius: 50%;
  margin-top: 10px;
  line-height: 30px;
  margin-left: 10px;
  display: flex;
  justify-self: end;
  margin-right: 10px;
}
.topbar ul .avatar span {
  text-align: center;
  width: 100%;
}
.topbar li {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat";
  outline: 0;
  text-decoration: none;
  border: 0;
  list-style-type: none;
}

.leftbar {
  background-color: #f1f1f1;
  height: 100%;
}

.menutab {
  min-height: 50px;
}
.menutab section {
  width: 160px;
  min-height: 50px;
  border-bottom: solid 1px #e5e5e5;
  margin: auto;
}
.menutab h4 {
  font-weight: 400;
  margin-left: 10px;
  line-height: 50px;
  font-size: 18px;
}

.tabitem ul {
  margin: -10px 0px 10px;
}
.tabitem li {
  padding-left: 20px;
  line-height: 30px;
  font-size: 15px;
}

.text_box label {
  grid-area: la;
}

.text_box input {
  grid-area: in;
}

.text_box {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 315px;
  grid-template-areas: "la" "in";
  padding-left: 10px;
}
@media (min-width: 480px) {
  .text_box {
    grid-template-columns: 210px 215px;
    grid-template-areas: "la in";
  }
}
@media (min-width: 905px) {
  .text_box {
    padding-left: 20px;
  }
}

form {
  width: 100%;
}
label {
  font-size: 16px;
  margin-top: 20px;
}

input {
  border: 0px;
  outline: 0;
  padding: 15px 0px;
  border-bottom: 1px solid #d4d4d4;
  width: 100%;
  font-size: 16px;
  font-weight: 100;
}
@media (min-width: 480px) {
  input {
    width: 95%;
  }
}

button.del_square {
  background-color: #f1f1f1;
  height: 30px;
  width: 30px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  font-weight: 100;
  cursor: pointer;
  outline: 0;
}
button.del_square:hover {
  background-color: orangered;
  border: 1px solid red;
  color: #fff;
}

.recipe_ingredient_box {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: auto 60px;
  grid-template-areas: "l1 del" "i1 del" "l2 del" "i2 del" "l3 del" "i3 del";
  max-width: 750px;
  border-bottom: 1px solid #f1f1f1;
  padding: 10px 0px 20px 10px;
}
@media (min-width: 480px) and (max-width: 904px) {
  .recipe_ingredient_box {
    max-width: 410px;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 230px 180px;
    grid-template-areas: "l1 l2" "i1 i2" "l3 del" "i3 del";
  }
}
@media (min-width: 905px) {
  .recipe_ingredient_box {
    padding: 10px 0px 20px 20px;
    max-width: 690px;
    grid-template-rows: auto auto;
    grid-template-columns: 230px 180px 180px 100px;
    grid-template-areas: "l1 l2 l3 del" "i1 i2 i3 del";
  }
}

.label_1 {
  grid-area: l1;
  margin-top: 20px;
}

.label_2 {
  grid-area: l2;
  margin-top: 20px;
}

.label_3 {
  grid-area: l3;
  margin-top: 20px;
}

.input_1 {
  grid-area: i1;
}

.input_2 {
  grid-area: i2;
}

.input_3 {
  grid-area: i3;
}

.del_4 {
  grid-area: del;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-right: 2px solid #fff;
}
.del_4:hover {
  border-right: 2px solid orangered;
}

@media (min-width: 630px) and (max-width: 904px) {
  .del_4:hover ~ .label_2 {
    border-right: 2px solid orangered;
  }
}

@media (min-width: 630px) and (max-width: 904px) {
  .del_4:hover ~ .input_2 {
    border-right: 2px solid orangered;
  }
}

.results_overview {
  padding: 15px 0px 10px 10px;
  overflow-x: scroll;
}
@media (min-width: 905px) {
  .results_overview {
    padding: 15px 0px 0px 20px;
  }
}
.results_overview ul {
  display: inline-flex;
}
.results_overview ul li:first-child {
  width: 170px;
}
.results_overview ul .result_list {
  width: 110px;
}
.results_overview ul .result_list h3 {
  line-height: 20px;
}
.results_overview ul .result_list:last-child {
  width: 180px;
}

.results_overview::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  border-radius: 10px;
}

.results_overview::-webkit-scrollbar-thumb:horizontal {
  background: orange;
  border-radius: 10px;
}

.results_overview_names h3 {
  font-size: 16px;
  line-height: 40px;
  color: #818181;
}
.results_overview_names h3.recipe_name {
  line-height: 20px;
}

.compare_results {
  display: inline-flex;
}
.compare_results h3 {
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
}
.compare_results p {
  font-size: 13px;
  line-height: 40px;
  font-weight: 400;
  padding-left: 20px;
}
.compare_results div.result_list {
  padding-right: 10px;
  margin-right: 20px;
  border-right: 1px solid #e5e5e5;
}
@media (max-width: 550px) {
  .compare_results div.result_list:last-child {
    border-right: 0;
  }
}

.compare_results::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  border-radius: 10px;
}

.compare_results::-webkit-scrollbar-thumb:horizontal {
  background: orange;
  border-radius: 10px;
}

.compare_add {
  margin: auto;
  text-align: center;
}
.compare_add h3 {
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
}
.compare_add button {
  width: 100px;
  padding: 8px 0px;
  outline: 0;
  border: 0;
  background: orangered;
  border-radius: 5px;
  border: 1px solid red;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  font-family: "Montserrat";
  margin: 40px 0px 30px;
}
.compare_add p {
  font-size: 16px;
  width: 130px;
  margin: auto;
  line-height: 20px;
}
@media (min-width: 550px) {
  .compare_add {
    display: none;
  }
}

div.result_list.compare_add {
  display: none;
}
@media (min-width: 550px) {
  div.result_list.compare_add {
    display: block;
    margin: 0px;
  }
  div.result_list.compare_add:last-child {
    border-right: 0;
  }
}

.result-price {
  padding-top: 20px;
}

.result-price h3 {
  display: inline;
  padding: 0px 30px 0px 10px;
}
@media (min-width: 905px) {
  .result-price h3 {
    padding: 0px 30px 0px 20px;
  }
}
.result-price span {
  font-weight: 400;
}
@media (min-width: 480px) {
  .result-price div.text_box {
    grid-template-columns: 240px 215px;
  }
}
.result-price h3.base_results {
  line-height: 25px;
  display: block;
  text-align: center;
  padding: 15px 0px;
}

.result-calc {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 100%;
  grid-template-areas: "profit" "cost" "pro";
  padding: 10px 0px 20px 10px;
  max-width: 940px;
}
@media (min-width: 480px) and (max-width: 904px) {
  .result-calc {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, auto);
    grid-template-areas: "profit cost pro";
    padding: 10px 0px 20px 20px;
  }
}
@media (min-width: 905px) {
  .result-calc {
    grid-template-rows: auto;
    grid-template-columns: repeat(3, auto);
    grid-template-areas: "profit cost pro";
    padding: 10px 0px 20px 20px;
  }
}
.result-calc div.border_break {
  max-width: 200px;
  margin: 12px auto;
}

.calc-profit {
  grid-area: profit;
}

.calc-cost {
  grid-area: cost;
}

.calc-pro {
  grid-area: pro;
}

.calc-data {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 50px;
  grid-template-areas: "p s";
  max-width: 240px;
  margin: auto;
  padding: 12px 6px;
}
.calc-data p {
  grid-area: p;
  display: inline;
  padding-right: 10px;
}
.calc-data span {
  grid-area: s;
  font-weight: 400;
}

.result-ingredients {
  margin-bottom: 50px;
}
.result-ingredients div.border_break {
  margin-bottom: 20px;
}
.result-ingredients div.results_overview ul .result_list {
  width: 120px;
}
.result-ingredients div.results_overview ul .result_list:last-child {
  max-width: 120px;
  border: none;
}

.edit-ingredient div.border_break {
  max-width: 415px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.edit-ingredient form:last-child {
  margin-bottom: 50px;
}

.screen_title {
  height: 40px;
  padding-left: 10px;
}
.screen_title h1 {
  font-size: 20px;
  padding-top: 15px;
  font-weight: 400;
}
@media (min-width: 905px) {
  .screen_title {
    padding-left: 20px;
  }
}

.details_packaging {
  margin: 40px 0px;
}

/*# sourceMappingURL=style.css.map */
