html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  color: #343434;
  font-family: "Montserrat";
  font-weight: 100;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.icon-1 {
  fill: red;
}

.userapp {
  display: grid;
  grid-template-rows: 50px minmax(100vh, auto);
  grid-template-columns: 0px 100%;
  grid-template-areas: "topbar topbar" "leftbar screens";
}

.userapp.menu {
  grid-template-columns: 180px auto;
  grid-template-areas: "topbar topbar" "leftbar screens";
}
.userapp.menu div.leftbar {
  display: block;
}

.topbar {
  grid-area: topbar;
}

.leftbar {
  grid-area: leftbar;
  display: none;
}

.screens {
  grid-area: screens;
}

#Capa_1 path {
  color: #fff;
}

.menu-toggle {
  grid-area: "toggle";
}

.brand {
  grid-area: "brand";
}

.avatar {
  grid-area: "avatar";
}

.topbar {
  background-color: #525252;
}
.topbar ul {
  display: grid;
  grid-row: auto;
  grid-template-columns: 60px auto 60px;
  grid-template-areas: "toggle brand avatar";
  margin: 0px;
}
.topbar ul .menu-toggle {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-top: 2px;
  line-height: 45px;
  text-align: center;
  margin-left: 10px;
}
.topbar ul .brand {
  text-align: center;
  width: 150px;
  height: 50px;
  margin: auto;
  background-color: orange;
  line-height: 50px;
}
.topbar ul .avatar {
  height: 30px;
  width: 30px;
  background: orangered;
  border-radius: 50%;
  margin-top: 10px;
  line-height: 30px;
  margin-left: 10px;
  display: flex;
  justify-self: end;
  margin-right: 10px;
}
.topbar ul .avatar span {
  text-align: center;
  width: 100%;
}
.topbar li {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat";
  outline: 0;
  text-decoration: none;
  border: 0;
  list-style-type: none;
}

.leftbar {
  background-color: #f1f1f1;
  height: 100%;
}

.menutab {
  min-height: 50px;
}
.menutab section {
  width: 160px;
  min-height: 50px;
  border-bottom: solid 1px #e5e5e5;
  margin: auto;
}
.menutab h4 {
  font-weight: 400;
  margin-left: 10px;
  line-height: 50px;
  font-size: 18px;
}

.tabitem ul {
  margin: -10px 0px 10px;
}
.tabitem li {
  padding-left: 20px;
  line-height: 30px;
  font-size: 15px;
}

.input_box {
  margin: 0px 10px;
}
@media (min-width: 768px) {
  .input_box {
    margin: 0px 20px;
  }
}

form {
  width: 100%;
}
label {
  font-size: 16px;
  margin-top: 20px;
  width: 195px;
  display: inline-block;
}

input {
  border: 0px;
  outline: 0;
  padding: 15px 0px;
  border-bottom: 1px solid #d4d4d4;
  width: 100%;
  font-size: 16px;
  font-weight: 100;
}
@media (min-width: 480px) {
  input {
    max-width: 260px;
  }
}

.screen_title {
  height: 40px;
  padding-left: 10px;
}
.screen_title h1 {
  font-size: 20px;
  padding-top: 15px;
}

.details_packaging {
  margin: 40px 0px;
}

/*# sourceMappingURL=style.css.map */
